.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/* Product info */
.food_name {
    font-family: Avenir Next;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-size: 25px;
    color: black;
}

.avatar {
    height: 80px;
    width: 80px;
    box-shadow: none;
}

.cook_name {
    font-family: 'Avenir Next';
    color: black;
    text-align: left;
    margin-left: 10px;
    display: inline;
}

.description {
    margin-top: 20px;
    color: white;
    background-color: #292929;
    font-weight: normal;
}

#description {
    margin-left: 10px;
    color: white;
}

.price {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

#review {
    margin-top: 10px;
    width: 700px;
    color: #8F0047;
    font-weight: bold;
    font-size: large;
}

.save_btn {
    width: 170px;
    height: 45px;
    font-size: 15px;
    color: #8F0047;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #8F0047;
    border-radius: 30px;
    font-family: "Avenir Next";
    font-weight: lighter;
}

.sm_button {
    margin-left: 0px;
    width: 85px;
    height: 30px;
    font-size: 12px;
    color: #8F0047;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #8F0047;
    border-radius: 40px;
    font-family: "Avenir Next";
    font-weight: normal;
}

.buy_button {
    margin: 10px 0 0 10px;
    width: 85px;
    height: 30px;
    font-size: 12px;
    color: #8F0047;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #8F0047;
    border-radius: 40px;
    font-family: "Avenir Next";
    font-weight: normal;
}

.save_btn:hover {
    background-color: #8F0047;
    color: white;
}

.sm_button:hover {
    background-color: #8F0047;
    color: white;
}

.buy_button:hover {
    margin-top: 10px;
    background-color: #8F0047;
    color: white;
}

.user_name {
    margin-top: 10px;
    font-family: Avenir Next;
    font-weight: bolder;
}