.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*.carousel-inner > .item > img,*/
/*.carousel-inner > .item > a > img {*/
/*width: 100%;*/
/*margin: auto;*/
/*}*/

.img_slide {
    max-height: 300px;
    width: auto;
}

/*!* Product info *!*/

.avatar {
    height: 40px;
    width: 40px;
    box-shadow: none;
}

.cook_name {
    font-family: 'Avenir Next', serif;
    color: black;
    font-size: medium;
    margin-left: 15px;
    margin-top: 10px;
}

.food_name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.price {
    font-weight: bold;
    font-size: 20px;
}

/* Review section */

.title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.date {
    margin-top: 5px;
}

.user_img {
    width: 30px;
    height: 30px;
}

.user_name {
    font-family: Avenir Next;
    font-weight: bolder;
    margin: 5px 0 30px 5px;
    padding: 0;
}

.small_btn {
    width: 85px;
    height: 30px;
    padding: 0;
    font-size: 12px;
    font-family: "roboto", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}