.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/* Product info */

.food_name {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 35px;
    color: #656565;
}

.price {
    color: #48cfad;
    font-size: 22px;
    font-weight: 600;
}

.description {
    padding: 0 5px;
}

/* Review section */

.section-header {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

.date {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    font-size: small;
}

.review-content {
    font-family: 'Lato', sans-serif;
}

.user_img {
    width: 30px;
    height: 30px;
}

.user_name {
    font-weight: 600;
}
