.rate {
    height: 20px;
    float: left;
}

.rate:not(:checked) > label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: rgba(143, 0, 71, 1);
}

.rate:not(:checked) > label:before {
    content: '★ ';
}