{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load cart_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans 'Cart' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'order/cart.css' %}">
{% endblock %}

{% block content %}

    <div class="container wrapper">
        <div class="row">
            {% include 'layout/messages_snippet.html' with messages=messages %}
        </div>
        {% if not cart %}
            <div class="alert alert-info">
                {% trans 'Your shopping cart is empty' %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-1">
                        <h4>{% trans 'Additional product' %}</h4>
                        <div id="Carousel" class="carousel slide">

                            <!-- Carousel items -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img class="img-responsive" src="{% static "images/coca.jpg" %}"
                                                     alt="Image">
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img class="img-responsive" src="{% static "images/pepsi.jpg" %}"
                                                     alt="Image">
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img class="img-responsive" src="{% static "images/sprite.jpg" %}"
                                                     alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-1">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <form id="cart_form" action="" method="POST">
                                    {% csrf_token %}

                                    <table class="table">
                                        <thead align="center">
                                        <tr>
                                            <td class="col-md-1 ">&nbsp;</td>
                                            <td class="col-md-3"><h4>{% trans 'Product' %}</h4></td>
                                            <td class="col-md-2"><h4>{% trans 'Price' %}</h4></td>
                                            <td class="col-md-2"><h4>{% trans 'Quantity' %}</h4></td>
                                            <td class="col-md-2"><h4>{% trans 'Subtotal' %}</h4></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{ form.management_form }}
                                        {% for field in form %}
                                            <tr class="row_height">
                                                {% get_item field.item_id.value as item %}
                                                {% get_subtotal field.item_id.value as sub_total %}
                                                <input type="hidden"
                                                       name="form-{{ forloop.counter0 }}-{{ field.item_id.name }}"
                                                       value="{{ field.item_id.value }}"/>


                                                <td class="col-md-2 vert-align">
                                                    <a href="{% url 'item:detail' item.slug %}">
                                                        <img src="{{ item.get_primary_image }}"
                                                             class="img-responsive center-block item_icon"
                                                             alt="item_image">
                                                    </a>
                                                </td>

                                                <td class="col-md-3 vert-align">
                                                    <a href="{% url 'item:detail' item.slug %}">
                                                        <h4>{{ item.name|truncatechars:'20' }}</h4></a>
                                                </td>

                                                <td class="col-md-2 vert-align">
                                                    <span>{{ item.price|intcomma }}</span>
                                                </td>

                                                <td class="col-md-2 vert-align">
                                                    <div>
                                                        <input name="form-{{ forloop.counter0 }}-{{ field.quantity.name }}"
                                                               step="1" min="1" value="{{ field.quantity.value }}"
                                                               title="Qty"
                                                               class="form-control input-sm" size="4" type="number">
                                                    </div>
                                                </td>

                                                <td class="col-md-2 vert-align">
                                                    <span class="amount"><strong>{{ sub_total|intcomma }}</strong></span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="6"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input class="btn btn-lg btn_color" name="update" value="{% trans 'Update Cart' %}"
                                           type="submit">
                                </form>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <table class="table">
                                    <thead align="center">
                                    <tr class="del_thead">
                                        <td><h4>&nbsp;</h4></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for field in form %}
                                        <tr class="delete_row_height">
                                            <td class="vert-align">
                                                <form id="f-{{ field.item_id.value }}" method="POST"
                                                      action="{% url 'cart:remove' %}">
                                                    {% csrf_token %}
                                                    <input id="item_id-{{ field.item_id.value }}" name="item_id"
                                                           type="hidden"
                                                           value="{{ field.item_id.value }}">
                                                    <button
                                                            onclick="document.forms['f-{{ field.item_id.value }}'].submit(); return false;">
                                                        <span class="glyphicon glyphicon-trash"> </span>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card card-1">
                        {% include "cart/price_panel.html" %}
                        <div class="row text-center margin_top_10">
                            <div class="col-md-12 col-xs-12">
                                <input class="btn btn-lg btn_color btn-block" name="checkout" value="{% trans 'Proceed to checkout' %}"
                                       type="submit" form="cart_form">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block footer %}
    {#    <script>#}
    {#        var result = $("#myDiv").height();#}
    {#        alert(result);#}
    {#    </script>#}
{% endblock %}