{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load cart_tags %}
{% load widget_tweaks %}

{% block title %}
    Xác nhận đơn hàng
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'order/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 info_form">
                <div class="col-md-12">
                    <h2>Xác nhận đơn hàng</h2>
                    <hr>
                </div>
                <div class="card card-1">
                    <h3>Sản Phẩm</h3>

                    <table class="table">
                        <thead align="center">
                        <tr>
                            <td class="col-md-1 ">&nbsp;</td>
                            <td class="col-md-3"><h5>Product</h5></td>
                            <td class="col-md-2"><h5>Price</h5></td>
                            <td class="col-md-2"><h5>Quantity</h5></td>
                            <td class="col-md-2"><h5>Total</h5></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item_id, quantity in cart.items %}
                            {% get_item item_id as item %}
                            {% get_subtotal item_id as sub_total %}
                            <tr>
                                <td class="col-md-2 vert-align">
                                    <a href="{% url 'item:detail' item.slug %}">
                                        <img src="{{ item.get_primary_image }}"
                                             class="img-responsive item_icon" alt="item_image">
                                    </a>
                                </td>

                                <td class="col-md-3 vert-align">
                                    <a href="{% url 'item:detail' item.slug %}">
                                        <h5>{{ item.name|truncatechars:'20' }}</h5></a>
                                </td>

                                <td class="col-md-2 vert-align">
                                    <span>{{ item.price|intcomma }}</span>
                                </td>

                                <td class="col-md-2 vert-align">
                                    <div>
                                        {{ quantity }}
                                    </div>
                                </td>

                                <td class="col-md-2 vert-align">
                                    <span class="amount">{{ sub_total|intcomma }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {#                    {% for item_id, quantity in cart.items %}#}
                    {#                        {% get_item item_id as item %}#}
                    {#                        {% get_subtotal item_id as sub_total %}#}
                    {#                        <div class="row item">#}
                    {#                            <div class="col-xs-2">#}
                    {#                                <img class="img-responsive" src="{{ item.get_primary_image }}">#}
                    {#                            </div>#}
                    {#                            <div class="col-xs-4">#}
                    {#                                <h5>{{ item.name|truncatechars:'20' }}</h5>#}
                    {#                            </div>#}
                    {#                            <div class="col-xs-6">#}
                    {#                                <div class="col-xs-6 text-right">#}
                    {#                                    <h5><p>{{ item.price|intcomma }} <span class="text-muted">x</span></p></h5>#}
                    {#                                </div>#}
                    {#                                <div class="col-xs-4">#}
                    {#                                    <h5>{{ sub_total|intcomma }}</h5>#}
                    {#                                    <input type="text" class="form-control input-sm" value="1">#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}

                    <hr>

                    <h3>Địa chỉ</h3>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Tên người nhận</label>
                            <p> {{ info.name }}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Số điện thoại</label>
                            <p> {{ info.phone }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Địa chỉ</label>
                            <p>{{ info.address }}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <p> {{ info.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Tỉnh/Thành Phố</label>
                            <p> {{ info.city }}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Quận</label>
                            <p> {{ info.district }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            {% if info.note %}
                                <label for="id_note">Ghi chú</label>
                                <p> {{ info.note }}</p>
                            {% else %}
                                <p> Không có ghi chú nào</p>
                            {% endif %}
                        </div>
                    </div>


                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Thành tiền</p>
                        </div>
                        <div class="col-md-6 text-right">
                            {% get_shipping as shipping %}
                            <h4><strong>{{ shipping|intcomma }}</strong> vnd</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Tiền ship</p>
                        </div>
                        <div class="col-md-6 text-right">
                            {% get_shipping as shipping %}
                            <h4><strong>{{ shipping|intcomma }}</strong> vnd</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 item">
                            <h4>Tổng số tiền</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                {% get_total_with_ship as total_w_ship %}
                                <h4><strong>{{ total_w_ship|intcomma }}</strong> vnd</h4>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
{#                            <div class="col-md-6 col-xs-6" style="text-align: center">#}
{#                                <a href="location.html">#}
{#                                    <button type="button" class="next_button custom-button">#}
{#                                        Back#}
{#                                    </button>#}
{#                                </a>#}
{#                            </div>#}
                            <div class="col-md-6 col-md-offset-3 col-xs-6" style="text-align: center">
                                <form action="{% url 'cart:confirm' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="next_button custom_btn">
                                        Xác nhận
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
