{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load cart_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans 'Shipping information' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'order/cart.css' %}">
    <style>
        input[type='number'] {
            -moz-appearance: textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-1">
                    <h3>{% trans 'Shipping information' %}</h3>
                    <hr>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form id="info_form" action="" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {% render_field form.name class+="form-control" %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                {% render_field form.phone class+="form-control" %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                {% render_field form.address class+="form-control" %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {% render_field form.email class+="form-control" %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="id_city">{% trans 'City' %}</label>
                                <select id="id_city" name="city" class="form-control" required>
                                    <option value=""></option>
                                    <option value="Saigon" selected>{% trans 'Saigon' %}</option>
                                    <option value="Hanoi">{% trans 'Hanoi' %}</option>
                                    <option value="Da Nang">{% trans 'Da Nang' %}</option>
                                    <option value="Hai Phong">{% trans 'Hai Phong' %}</option>
                                    <option value="Nha Trang">{% trans 'Nha Trang' %}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="id_district">{% trans 'District' %}</label>
                                <select id="id_district" name="district" class="form-control" required>
                                    <option value=""></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>7</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="id_ward">{% trans 'Ward' %}</label>
                                <input id="id_ward" name="ward" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="id_note">{% trans 'Note' %}</label>
                                <textarea class="form-control" id="id_note" name="note" rows="5"></textarea>
                                <p class="help-block">{% trans 'eg: no chili, no pepper, etc.' %}</p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card card-1">
                    {% include "cart/price_panel.html" %}
                    <div class="row text-center margin_top_10">
                        <div class="col-md-6">
                            <form action="{% url 'cart:cart' %}">
                                <input type="submit" value="{% trans 'Go back' %}"
                                       class="btn btn-lg btn-block btn_color">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" form="info_form" value="{% trans 'Save and next' %}"
                                   class="btn btn-lg btn-block btn_color">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}