{% load humanize %}
{% load cart_tags %}


<div class="row">
    <div class="col-md-6 col-xs-6">
        <h4>Thành tiền</h4>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="text-right">
            {% get_total_price as total %}
            <h4 id="total"><strong>{{ total|intcomma }}</strong> vnd</h4>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <h4>Tiền ship</h4>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="text-right">
            {% get_shipping as shipping %}
            <h4><strong>{{ shipping|intcomma }}</strong> vnd</h4>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <input type="text" class="form-control" placeholder="Mã giảm giá">
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="text-right">
            <button type="button" class="btn_color">
                Áp Dụng
            </button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <h4>Tổng số tiền</h4>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="text-right">
            {% get_total_with_ship as total_w_ship %}
            <h4><strong>{{ total_w_ship|intcomma }}</strong> vnd</h4>
        </div>
    </div>
</div>