{% extends "layout/base.html" %}

{% load i18n %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% load widget_tweaks %}

{% block title %}
    {% trans "Đăng Nhập" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container wrapper">
{#        <div class="row">#}
{#            {% if form.errors %}#}
{#                {% for field in form %}#}
{#                    {% for error in field.errors %}#}
{#                        <div class="alert alert-danger">#}
{#                            {{ error|escape }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                {% for error in form.non_field_errors %}#}
{#                    <div class="alert alert-warning">#}
{#                        {{ error|escape }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
        <div class="row">

            <div class="col-md-offset-4 col-md-4">
                <div class="card card-1">
                    <h3 class="text-center">Đăng Nhập</h3>

                    <hr>
                    <form action="{% provider_login_url "facebook" method="oauth2" %}">
                        <button type="submit" class="custom_btn btn_wide fb">Facebook</button>
                    </form>
                    <form action="{% provider_login_url "google" method="oauth" %}">
                        <button type="submit" class="custom_btn btn_wide gg margin_top_10">Google</button>
                    </form>
                    <hr>
{#                    <div class="row">#}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-warning">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
{#                    </div>#}

                    <form method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}


                        {#                    <div class="form-group" style="margin-top: 10px">#}
                        {#                        {{ field.login_field.errors }}#}
                        {#                        <label for="{{ field.login_field.id_for_label }}">{{ field.login_field.label }}</label>#}
                        {#                        {% render_field field.login_field class+="form-control" %}#}
                        {#                        {% if field.login_field.help_text %}#}
                        {#                            <p class="help">{{ field.login_field.help_text|safe }}</p>#}
                        {#                        {% endif %}#}
                        {#                    </div>#}
                        <div class="form-group">
                            <label for="id_login">Email</label>
                            <input autofocus="autofocus" class="form-control" id="id_login" name="login"
                                   placeholder="Email" type="email" required/>
                        </div>

                        <div class="form-group">
                            <label for="id_password">Mật khẩu</label>
                            <input class="form-control" id="id_password" name="password" placeholder="Mật khẩu"
                                   type="password" required/>
                        </div>

                        <div class="checkbox-inline margin_top_10">
                            <label for="id_remember"><input id="id_remember" name="remember" type="checkbox"/>Nhớ đăng
                                nhập</label>
                        </div>
                        {#                    {% for f in form %}#}
                        {#                        {% ifnotequal f form.remember %}#}
                        {#                            <div class="form-group" style="margin-top: 10px">#}
                        {#                                <label for="{{ f.id_for_label }}">{{ f.label }}</label>#}
                        {#                                {% render_field f class+="form-control" %}#}
                        {#                                {% if f.help_text %}#}
                        {#                                    <p class="help">{{ f.help_text|safe }}</p>#}
                        {#                                {% endif %}#}
                        {#                            </div>#}
                        {#                        {% else %}#}
                        {#                            <hr>#}
                        {#                            <div class="checkbox-inline">#}
                        {#                                <label for="{{ f.id_for_label }}">{{ f }}{{ f.label }}</label>#}
                        {#                            </div>#}
                        {#                        {% endifnotequal %}#}
                        {##}
                        {#                        <p>{{ field.errors }}</p>#}
                        {#                        <p>{{ field.label }}</p>#}
                        {#                        <p>{{ field.label_tag }}</p>#}
                        {#                        <p>{{ field }}</p>#}
                        {#                    {% endfor %}#}

                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}

                        <button class="custom_btn btn_white btn_wide margin_top_10" type="submit">
                            {% trans "Đăng Nhập" %}
                        </button>

                        <a class="help-block link-center"
                           href="{% url 'account_reset_password' %}">{% trans "Quên mật khẩu?" %}</a>
                        <hr>

                        <div class="signup">
                            <a href="{% url 'account_signup' %}" class="signup">Tạo Tài Khoản</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
