{% extends "layout/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile_panel.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include 'layout/messages_snippet.html' with messages=messages %}
        </div>
        <div class="row">
            {% include 'layout/profile_panel_snippet.html' with user=user %}

            <div class="col-md-6">
                <div class="card card-1">
                    <form method="POST" action="" class="password_change">
                        {% csrf_token %}
                        {{ password_change_form|bootstrap }}
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit"
                                    name="action">{% trans "Change Password" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
