{% extends "layout/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% include 'layout/messages_snippet.html' %}
                <h1>{% trans "Password Reset Success!" %}</h1>
                <h4>{% blocktrans %}Your new password is updated. Please <a href="/accounts/login">sign in</a>
                    .{% endblocktrans %}
                </h4>
            </div>
        </div>
    </div>

{% endblock %}
