{% extends "layout/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile_panel.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'layout/profile_panel_snippet.html' with user=user %}
            <div class="col-md-6">
                <div class="card card-1">
                    <form method="POST" action="" class="password_set">
                        {% csrf_token %}
                        {{ password_set_form|bootstrap }}
                        <div class="form-actions">
                            <input class="btn btn-primary" type="submit" name="action"
                                   value="{% trans "Set Password" %}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
