.save_btn {
    width: 25%;
    height: 35px;
    padding: 0;
}

.save_btn:hover {
    color: white;
    background-color: #bf005a;
    border-color: #bf005a;
}

#birthday {
    display: block;
    width: 100%;
    height: 34px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
}