Babel==2.3.4
defusedxml==0.4.1
Django==1.10.1
django-activity-stream==0.6.3
django-allauth==0.27.0
django-bootstrap-form==3.2.1
django-jsonfield==1.0.1
django-model-utils==2.6
django-notifications-hq==1.2
django-phonenumber-field==1.1.0
django-widget-tweaks==1.4.1
gunicorn==19.6.0
jsonfield==1.0.3
oauthlib==2.0.0
phonenumberslite==7.5.2
Pillow==3.3.1
#psycopg2==2.6.2
python3-openid==3.0.10
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.6.2
whitenoise==3.2.1
