.container {
    width: 80%;
    margin: 20px auto;
}

.table_header {
    background-color: #8F0047;
    color: white;
}

.delivery_button {
    width: 100%;
    height: 30px;
    font-family: "Avenir Next";
    font-weight: normal;
    font-size: 12px;
    color: white;
    background-color: #3ee852;
    border: 1px solid #3ee852;
    border-radius: 40px;
}

.delivery_button:hover {
    background-color: #3c4a50;
    border-color: #3c4a50;
}

.skeleton {
    border: 1px solid #ddd;
}