#button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    padding: 0;
}

.tab_name {
    background-color: white;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: lightgray;
    /*border: 1px solid #CCCCCC;*/
    border-left: none;
    border-top: none;

}

.tab_body {
    background-color: white;
    color: black;
}

.order_info_header {
    font-weight: bolder;
}

.order_info {
    background-color: white;
    color: black;
    border-bottom: 1px solid;
    border-color: lightgray;
    /*border: 1px solid #CCCCCC;*/
    border-left: none;
    border-top: none;
}

.table th, .table td {
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;;
}

.table th {
    text-align: center;
    font-weight: normal;
}

.fixed-table-container {
    border: 0px;
}

.tab {
    border-top: none;
    border-right: 1px solid #CCCCCC;

}

.tab_info {
    /*border: 1px solid #CCCCCC;*/
    border-left: none;
    border-top: none;
}

.food_img {
    width: 122px;
    height: 81px;

}

.transport {
    border-top: 1px solid #CCCCCC;
}

.succeed_form {
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-weight: normal;
    background-color: white;
}

/*.name {*/
/*text-align: right;*/
/*color: #CCCCCC;*/
/*}*/

.date_order_num {
    text-align: right;
    font-weight: bold;
}

.status_fail {
    background-color: #D0021B;
    color: white
}

/*td {*/
/*border: 1px solid;*/
/*}*/

.table tbody > tr > td.vert-align {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}