.style_row {
    border: 1px solid #CCCCCC;
    margin-left: 5px;
    background-color: white;
    margin-bottom: 15px;
}

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

/*.table_order .table th,*/
/*.table_order .table td {*/
/*border-top: none !important;*/
/*border-left: none !important;*/
/*border-bottom: none !important;;*/
/*}*/

.table_order {
    font-family: 'Open Sans', sans-serif;
    border-right: 1px solid #ddd;
}

.table_info {
    font-family: 'Open Sans', sans-serif;
    border-left: 1px solid #ddd;
}

/* Order table */
.status_failed {
    background-color: #e40037;
    color: white
}

.status_succeed {
    background-color: #00e461;
    color: white
}

.status_processing {
    background-color: #0098e4;
    color: white
}

.item_row {
    height: 70px
}

.food_img {
    max-height: 60px;
}

.transport {
    border-top: 2px solid #ddd;
}

.table_order .table tr.total td { /* remove border of total line*/
    border-top: 0;
}

/* Info table */
.info_text {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: darkgrey;
}

#button {
    width: 100px;
    height: 30px;
    padding: 0;
}

/*table, th, td {*/
/*border: 1px solid black;*/
/*}*/