{% extends 'layout/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'item/create_item.css' %}">
{% endblock %}

{% block content %}
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 class="text-capitalized heading">Create New Item</h3>
                <h4>Item Image</h4>
            </div>
        </div>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <div class="row">
                {{ item_form.non_field_errors }}
                {{ item_form.errors }}
            </div>

            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.id }}
                        {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>

{#            <div class="row">#}
{#                {{ formset.management_form }}#}
{#                {% for form in formset %}#}
{#                    {% if forloop.first %}#}
{#                        <div class="col-md-5 col-md-offset-2 i-img">#}
{#                            <div class="form-group text-center">#}
{#                                <label for="main-img" class="btn btn-default">Click to import image</label>#}
{#                                <input type="file" id="main-img" style="display:none;"/>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="col-md-3">#}
{#                            <div class="form-group i-subimg text-center">#}
{#                                <label for="sub-img1" class="btn btn-default">#}
{#                                    <span class="glyphicon glyphicon-plus"></span>#}
{#                                </label>#}
{#                                <input type="file" id="sub-img1" style="display:none;">#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    {% for field in item_form %}
                        {% if field != item_form.description and field != item_form.image and field != item_form.in_stock %}
                            <div class="form-group">
                                <h4><label for="{{ field.id_for_label }}">{{ field.label }}</label></h4>
                                {% render_field field rows="5" class+="form-control inp" %}
                                {% if field.help_text %}
                                    <span id="helpBlock" class="help-block">{{ field.help_text|safe }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <h4>
                            <label for="{{ item_form.description.id_for_label }}">
                                {{ item_form.description.label }}
                            </label>
                        </h4>
                        {% render_field item_form.description rows="6" class+="form-control inp" %}
                        {% if item_form.description.help_text %}
                            <span id="helpBlock" class="help-block">{{ item_form.description.help_text|safe }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <h4>
                            <label for="{{ item_form.in_stock.id_for_label }}">
                                {{ item_form.in_stock.label }}
                            </label>
                        </h4>
                        {% render_field item_form.in_stock class+="form-control inp" %}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-default create-btn">Create</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="push"></div>
    </div>
{% endblock %}

{% block footer %}
    {# block for JS #}
{% endblock %}