{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'item/item_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-7">
                <!--banner-->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% for i in item.images.all %}
                            {% if i.image %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    <img class="img-responsive" src="{{ i.image.url }}" alt="First slide">
                                </div>
                            {% endif %}
                        {% empty %}
                            <p> No images available </p>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"></a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <p class="food_name">
                        {{ item.name }}
                    </p>
                </div>
                <div class="row">
                    <a href="{% url 'users:detail' item.chef.id %}">
                        {% if item.chef.profile.avatar %}
                            <img class="avatar img-circle" src="{{ item.chef.profile.avatar.url }}"
                                 alt="avatar"/>
                        {% else %}
                            <img class="avatar img-circle" src="{% static 'images/default-avatar.png' %}"
                                 alt="avatar"/>
                        {% endif %}
                    </a>
                    <a href="{% url 'users:detail' item.chef.id %}">
                        <div class="cook_name">{{ item.chef.profile.name }}</div>
                    </a>
                </div>
                <div class="row">
                    <div class="description">
                        <p id="description">Mô Tả</p>
                    </div>
                    <p>
                        {{ item.description }}
                    </p>
                    <hr>
                    <div class="price">{{ item.price|intcomma }} VND</div>
                    <a href="#">
                        <button class="buy_button">Ăn ngay</button>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <ul>
                {% for ingredient in item.get_ingredient %}
                    <li>{{ ingredient|capfirst }}</li>
                {% endfor %}
            </ul>
        </div>
        <p>Stock: {{ item.in_stock }}</p>

        <!--Review area //-->
        <div class="row">
            <hr>
            <div class="accordion col-md-6">
                <p id="review"> Bình luận</p>

                {% for review in item.reviews.all|slice:":2" %}
                    {% include "layout/item_snippet.html" with review=review %}
                {% empty %}
                    <p>No reviews here yet :(</p>
                {% endfor %}

                {% if item.reviews.count > 2 %}
                    <div class="accordion-group">
                        <div id="collapseTwo" class="accordion-body collapse">
                            {% for review in item.reviews.all|slice:"2:" %}
                                {% include "layout/review_snippet.html" with review=review %}
                            {% empty %}
                                <p>No reviews here yet :(</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row text-center" style="margin-top: 10px">
            <button class="SeeMore2 sm_button" data-toggle="collapse" href="#collapseTwo">Xem thêm</button>
        </div>


        {#        <p>Published date: {{ item.pub_date }}</p>#}
        {#        <p>Last modified: {{ item.modified_date }}</p>#}
        <div class="push"></div>
    </div>
{% endblock %}