{% extends 'layout/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
    Login
{% endblock %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}


{% block content %}
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">Đăng Nhập</h3>
                <br>
                <form action="{% provider_login_url "facebook" method="oauth2" %}">
                    <button type="submit" class="button fb">Facebook</button>
                </form>

                <form action="{% provider_login_url "google" method="oauth" %}">
                    <button type="submit" class="button gg">Google</button>
                </form>

                <hr>

                <form>
                    <div class="form-group" style="margin-top: 10px">
                        <label for="input_email">Email address</label>
                        <input type="email" class="form-control" id="input_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="input_password">Password</label>
                        <input type="password" class="form-control" id="input_password" placeholder="Password">
                    </div>

                    <label class="checkbox-inline"><input type="checkbox" value="">Nhớ đăng nhập</label>

                    <button class="button login link-center">Đăng Nhập</button>
                    <a href="#" class="forget_pass link-center">Quên mật khẩu?</a>
                    <a href="signup.html" class="signup link-center">Tạo Tài Khoản</a>
                </form>
            </div>
        </div>

        <div class="push"></div>
    </div>

{% endblock content %}
