{% load humanize %}
{% load order %}

<div class="col-md-4 col-xs-12">
    <div class="card card-1">
        <div class="row">
            <div class="col-md-6">
                <h4>Thành tiền</h4>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    {% get_total_price as total %}
                    <h4 id="total"><strong>{{ total|intcomma }}</strong> vnd</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4>Tiền ship</h4>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    {% get_shipping as shipping %}
                    <h4><strong>{{ shipping|intcomma }}</strong> vnd</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Mã giảm giá">
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <button type="button" class="custom-button">
                        Áp Dụng
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4>Tổng số tiền</h4>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    {% get_total_with_ship as total_w_ship %}
                    <h4><strong>{{ total_w_ship|intcomma }}</strong> vnd</h4>
                </div>
            </div>
        </div>
        {#                    <div class="row">#}
        {#                        <div class="col-md-12">#}
        {#                            <div style="text-align: center">#}
        {#                                <button type="button" class="custom-button next_button">#}
        {#                                    Next#}
        {#                                </button>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
    </div>
</div>