.product {
    padding-bottom: 10px;
    overflow: hidden;
}

/* --- Product Image ---- */

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.image-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.hover-button {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
    transition: opacity .35s ease;
}

.hover-button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.hover-button a:hover {
    background: #fff;
    color: darkslategrey;
    text-decoration: none;
    cursor: pointer;
}

.image-container:hover .hover-button {
    opacity: 1;
}

/* Product Info */

.stats-container {
    background: #fff;
    width: 100%;
    padding: 27px 27px 0 27px;
    margin: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.stats-container .product_name {
    font-size: 22px;
    color: #393c45;
}

.stats-container .product_name a {
    color: #393c45;
}

.stats-container .product_name a:hover {
    color: #393c45;
}

.stats-container p {
    font-size: 16px;
    color: #b1b1b3;
    padding-top: 2px;
}

.stats-container .product_price {
    float: right;
    color: #48cfad;
    font-size: 22px;
    font-weight: 600;
}

/* --- Rating ---- */
.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    height: 21px;
    width: 110px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    margin-left: 27px;
    float: left;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x 0 100%;
    float: left;
    height: 21px;
    display: inline;
}

.num-review {
    float: left;
    display: inline;
    margin-left: 5px;
    font-size: 13px;
}