.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.navbar-default {
    background-color: white;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    border-color: lightgray;
}

.navbar-default .navbar-brand {
    color: #8F0047;
    font-weight: 200;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #8F0047;
}

.navbar-default .navbar-text {
    color: #8F0047;
}

.navbar-default .navbar-nav > li > a {
    color: #8F0047;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #8F0047;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: white;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #8F0047;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: white;
    background-color: #8F0047;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8F0047;
    background-color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #8F0047;
    background-color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #8F0047;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #8F0047;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {

}

.navbar-default .navbar-link {
    color: #8F0047;
}

.navbar-default .navbar-link:hover {
    color: #8F0047;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #8F0047;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #8F0047;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #8F0047;
        background-color: white;
    }
}

.user_icon {
    width: 30px;
    height: 30px;
}

