@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 70px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#aa {
    margin-right: 2rem;
}

/* Common */

.btn_color {
    color: white;
    background-color: #1fa67b;
    border-color: #1fa67b;
}

.btn_color:hover {
    color: white;
    background-color: #1d9b72;
    border-color: #1d9b72;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: white;
    text-decoration: none;
}

.btn {
    border: 0;
    border-radius: 0;
}

.margin_top_10 {
    margin-top: 10px;
}

.card {
    background: #fff;
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 1px #eeeeee solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-radius: 0;
    border-color: #1fa67b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(31, 166, 123, 0.6);
}

.box {
    padding: 1rem;
    margin-bottom: 1rem;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.box-hover:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select.custom {
    padding-right: 25px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.custom::-ms-expand {
    display: none;
}