{% extends 'layout/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}

    <div class="container">

        {% if list_items %}
            <div class="row">
                {% for item in list_items %}
                    <div class="col-md-4">
                        <div class="product box-hover">
                            <div class="image-container">
                                <img width="100%^" src="{{ item.get_primary_image }}" alt=""/>
                                <div class="overlay"></div>
                                <div class="hover-button"><a href="{% url 'item:detail' item.slug %}"> {% trans 'View details' %} </a>
                                </div>

                            </div>
                            <div class="stats-container">
                                <span class="product_price">${{ item.price|intcomma }}</span>
                                <span class="product_name"><a href="{% url 'item:detail' item.slug %}">{{ item.name }}</a></span>
                                <p>C’mon… you gotta love original pepperoni!</p>
                            </div>
                            <div class="star-ratings-sprite">
                                <span style="width:{{ item.get_rating_int }}%" class="star-ratings-sprite-rating">
                                </span>
                            </div>
                            <span class="num-review">({{ item.reviews.count }})</span>
                        </div>
                    </div>
                    <!-- if last column in row -->
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><br>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div><br>
        {% else %}
            <p>No items are available.</p>
        {% endif %}

    </div>
{% endblock %}

{% block footer %}
{% endblock %}