{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load socialaccount %}

{% block title %}
    SiliSili
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

    <div class="container wrapper">

{#        {% if user.is_authenticated %}#}
{#            <a href="{% url 'account_logout' %}" class="pull-right">Logout</a>#}
{#            {% if user.first_name or user.last_name %}#}
{#                {{ user.first_name }}#}
{#                {{ user.last_name }}#}
{#            {% else %}#}
{#                {{ user.username }}#}
{#            {% endif %}#}
{##}
{#            {% if user.profile.account_verified %}#}
{#                (verified)#}
{#            {% else %}#}
{#                (unverified)#}
{#            {% endif %}#}
{##}
{#        {% else %}#}
{#            <a href="{% url 'account_login' %}" class="pull-right">Login</a>#}
{#        {% endif %}#}

        {% if list_items %}
            <ul>
                {% for item in list_items %}
                    <li><a href="{% url 'item:detail' item.slug %}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No items are available.</p>
        {% endif %}
        {#        <div class="row">#}
        {#            <div class="row">#}
        {#                <div class="col-md-9">#}
        {#                    <h3> Đồ ăn số một tuần này </h3>#}
        {#                </div>#}
        {#                <div class="col-md-3">#}
        {#                    <!-- Controls -->#}
        {#                    <div class="controls pull-right">#}
        {#                        <a class="fa fa-chevron-left color" aria-hidden="true" href="#1"#}
        {#                           data-slide="prev"></a>#}
        {#                        <a class="fa fa-chevron-right color" aria-hidden="true" href="#1"#}
        {#                           data-slide="next"></a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div id="1" class="carousel slide" data-ride="carousel">#}
        {#                <!-- Wrapper for slides -->#}
        {#                <div class="carousel-inner">#}
        {#                    <div class="item active">#}
        {#                        <div class="row">#}
        {#                            <div class="col-sm-4">#}
        {#                                <div class="col-item border-no">#}
        {#                                    <div class="photo">#}
        {#                                        <a href="item.html">#}
        {#                                            <img src="img/lasagna1.jpg" class="img-responsive" alt="a"/>#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    <div class="separator clear-left">#}
        {#                                        <h5 class="color">Sample Product</h5>#}
        {#                                        <h4 class="price-text-color">205,000 vnd</h4>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="col-sm-4">#}
        {#                                <div class="col-item border-no">#}
        {#                                    <div class="photo">#}
        {#                                        <a href="item.html">#}
        {#                                            <img src="img/lasagna.jpg" class="img-responsive" alt="a"/>#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    <div class="separator clear-left">#}
        {#                                        <h5 class="color">Sample Product</h5>#}
        {#                                        <h4 class="price-text-color">205,000 vnd</h4>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="col-sm-4">#}
        {#                                <div class="col-item border-no">#}
        {#                                    <div class="photo">#}
        {#                                        <a href="item.html">#}
        {#                                            <img src="img/lasagna2.jpg" class="img-responsive" alt="a"/>#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    <div class="separator clear-left">#}
        {#                                        <h5 class="color">Sample Product</h5>#}
        {#                                        <h4 class="price-text-color">205,000 vnd</h4>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="item">#}
        {#                        <div class="row">#}
        {#                            <div class="col-sm-4">#}
        {#                                <div class="col-item border-no">#}
        {#                                    <div class="photo">#}
        {#                                        <a href="item.html">#}
        {#                                            <img src="img/lasagna1.jpg" class="img-responsive" alt="a"/>#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    <div class="separator clear-left">#}
        {#                                        <h5 class="color">Sample Product</h5>#}
        {#                                        <h4 class="price-text-color">205,000 vnd</h4>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="col-sm-4">#}
        {#                                <div class="col-item border-no">#}
        {#                                    <div class="photo">#}
        {#                                        <a href="item.html">#}
        {#                                            <img src="img/lasagna2.jpg" class="img-responsive" alt="a"/>#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    <div class="separator clear-left">#}
        {#                                        <h5 class="color">Sample Product</h5>#}
        {#                                        <h4 class="price-text-color">205,000 vnd</h4>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="col-sm-4">#}
        {#                                <div class="col-item border-no">#}
        {#                                    <div class="photo">#}
        {#                                        <a href="item.html">#}
        {#                                            <img src="img/lasagna.jpg" class="img-responsive" alt="a"/>#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    <div class="separator clear-left">#}
        {#                                        <h5 class="color">Sample Product</h5>#}
        {#                                        <h4 class="price-text-color">205,000 vnd</h4>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="row">#}
        {#            <div class="row">#}
        {#                <div class="col-md-9">#}
        {#                    <h3> Những món mới </h3>#}
        {#                </div>#}
        {#                <div class="col-md-3">#}
        {#                    <!-- Controls -->#}
        {#                    <div class="controls pull-right">#}
        {#                        <a class="fa fa-chevron-left color" aria-hidden="true" href="#2"#}
        {#                           data-slide="prev"></a>#}
        {#                        <a class="fa fa-chevron-right color" aria-hidden="true" href="#2"#}
        {#                           data-slide="next"></a>#}
        {#                    </div>#}
        {#                </div>#}
        {##}
        {#            </div>#}
        {##}
        {#            <div id="2" class="carousel slide" data-ride="carousel">#}
        {#                <!-- Wrapper for slides -->#}
        {#                <div class="carousel-inner">#}
        {#                    <div class="item active">#}
        {#                        <div class="row">#}
        {#                            {% for item in new_items|slice:":3" %}#}
        {#                                {% include "layout/item_snippet.html" with item=item %}#}
        {#                            {% endfor %}#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                    <div class="item">#}
        {#                        <div class="row">#}
        {#                            {% for item in new_items|slice:"3:" %}#}
        {#                                {% include "layout/item_snippet.html" with item=item %}#}
        {#                            {% endfor %}#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

    </div>
{% endblock %}