{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    {{ user.profile.name }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container wrapper">
        {% if user.profile.avatar %}
            <img class="avatar" src="{{ user.profile.avatar.url }}" alt="avatar"/>
        {% else %}
            <img class="avatar" src="{% static 'images/default-avatar.png' %}" alt="avatar"/>
        {% endif %}

        <p>{{ user.profile.name }}</p>
        <p>{{ user.profile.address }}</p>
        <p>{{ user.profile.phone }}</p>
        <p>{{ user.profile.email }}</p>
        <p>{{ user.profile.info }}</p>
        <p>{{ user.date_joined }}</p>

        {% if items %}
            <ul>
                {% for item in items %}
                    <a href="{% url 'item:detail' item.slug %}">
                        {# <img class="img-responsive" src="{{ item.get_primary_image }}"/>#}
                        {{ item.name }}
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No items are available.</p>
        {% endif %}

    </div>
{% endblock %}