{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {{ user.profile.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile_panel.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'layout/profile_panel_snippet.html' with user=user %}

            <div class="col-md-9">
                <div class="card card-1">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">

                            {% include 'layout/messages_snippet.html' with messages=messages %}
                            <div class="col-md-12">
                                {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-warning">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>

                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>{% trans 'Full name' %}</label>
                                    <div class="form-control-static">
                                        {{ userprofile.name }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                    {% render_field form.email class+="form-control" %}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                    {% render_field form.address class+="form-control" %}
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="id_city">Tỉnh/Thành Phố</label>
                                        <select id="id_city" name="city" class="form-control">
                                            <option value="SG">Sài Gòn</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="id_district">Quận/Huyện</label>
                                        <select id="id_district" name="district" class="form-control">
                                            <option value="Q1">Q1</option>
                                            <option value="Q2">Q2</option>
                                            <option value="Q3">Q3</option>
                                            <option value="Q4">Q4</option>
                                            <option value="Q5">Q5</option>
                                            <option value="Q7">Q7</option>
                                            <option value="Q8">Q8</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="{{ form.ward.id_for_label }}">{{ form.ward.label }}</label>
                                        {% render_field form.ward class+="form-control" %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="{{ form.birthday.id_for_label }}">{{ form.birthday.label }}</label>
                                    {#                                <input id="id_birthday_month" name="birthday_month" type="date" class="form-control" placeholder="01/01/19xx ">#}
                                    <div class="display_text">
                                        {% if userprofile.birthday %}
                                            {{ userprofile.birthday }}

                                            {% with userprofile.get_birthday as birthday %}
                                                <input type="hidden" name="birthday_day" value="{{ birthday.day }}">
                                                <input type="hidden" name="birthday_month" value="{{ birthday.month }}">
                                                <input type="hidden" name="birthday_year" value="{{ birthday.year }}">
                                            {% endwith %}

                                        {% else %}
                                            {% render_field form.birthday class+="form-control" %}
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                    {% render_field form.phone class+="form-control" %}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                                    {% render_field form.gender class+="form-control" %}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.allergy.id_for_label }}">{{ form.allergy.label }}</label>
                                    {% render_field form.allergy class+="form-control" %}
                                    {#                                <p class="help-block">Vd: Không ớt, không hạt tiêu,.. hoặc các thành phần mà bạn bị dị#}
                                    {#                                    ứng</p>#}
                                </div>
                            </div>
                        </div>

                        <div class="row text-center margin_top_10">
                            <button type="submit" class="btn btn_color">{% trans 'Update' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#        <p>Join date: {{ user.date_joined }}</p>#}

    </div>

{% endblock content %}

{% block footer %}
{% endblock %}