{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load cart_tags %}
{% load widget_tweaks %}

{% block title %}
    Lịch sử mua hàng
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'order/order_history.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile_panel.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'layout/profile_panel_snippet.html' with user=user %}

            <div class="col-md-9">
                {% if not object_list %}
                    <div class="alert alert-info">
                        Bạn chưa đặt hàng lần nào
                    </div>
                {% else %}
                    {% for order in object_list %}
                        <div class="row style_row">
                            <div class="col-md-6">
                                <div class="row table_order">
                                    <table class="table">
                                        <thead>
                                        <tr class="first_row_border">
                                            <th class="col-md-2 {% if order.status == 'PR' %} status_processing
                                        {% elif order.status == 'FI' %} status_succeed
                                        {% else %} status_failed
                                        {% endif %}">{{ order.get_status_display }}</th>
                                            <th class="col-md-4">&nbsp;</th>
                                            <th class="col-md-3 text-right">{{ order.order_date|date:"SHORT_DATE_FORMAT" }}</th>
                                            <th class="col-md-3 text-right">#{{ order.id }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for i in order.items.all %}
                                            <tr class="item_row">
                                                {#  {{ i.item.name }} -  - {{ i.get_subtotal }}#}
                                                <td class="text-center vert-align">
                                                    <a href="{% url 'item:detail' i.item.slug %}">
                                                        <img class="img-responsive food_img"
                                                             src="{{ i.item.get_primary_image }}"/>
                                                    </a>
                                                </td>
                                                <td class="vert-align">
                                                    <a href="{% url 'item:detail' i.item.slug %}">{{ i.item.name }}</a>
                                                </td>
                                                <td class="text-center vert-align">{{ i.quantity }}</td>
                                                <td class="text-right vert-align">{{ i.get_subtotal|intcomma }}</td>
                                            </tr>
                                        {% endfor %}

                                        <tr class="transport">
                                            <td colspan="2"><strong>Phí vận chuyển:</strong></td>
                                            <td>&nbsp;</td>
                                            <td class="text-right">10,000 VND</td>
                                        </tr>

                                        <tr class="total">
                                            <td><strong>Tổng:</strong></td>
                                            <td colspan="3" class="text-right">
                                                <strong>{{ order.get_total_price|intcomma }} VND</strong>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row table_info">
                                    <div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="col-md-4"><strong>Chi tiết đơn hàng</strong></th>
                                                <th class="col-md-7">&nbsp;</th>
                                            </tr>
                                            </thead>

                                            <tbody class="tab_body">
                                            <tr>
                                                <td>Người nhận</td>
                                                <td class="text-right info_text">{{ order.receiver }}</td>
                                            </tr>
                                            <tr>
                                                <td>Thời gian đặt</td>
                                                <td class="text-right info_text"> {{ order.order_date|time:"H:i" }}</td>
                                            </tr>
                                            <tr>
                                                <td>Điện thoại</td>
                                                <td class="text-right info_text">{{ order.phone }}</td>
                                            </tr>
                                            <tr>
                                                <td>Địa chỉ</td>
                                                <td class="text-right info_text">
                                                    {{ order.address }}, Quận {{ order.district }}, {{ order.city }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Note</td>
                                                <td class="text-right info_text">{{ order.note }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="text-center margin_top_10">
                            <button id="button" class="btn_color">More</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}