{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'item/item_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'item/rating.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!--banner-->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% for i in item.images.all %}
                            {% if i.image %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    <img class="img-responsive center-block" src="{{ i.image.url }}" alt="image">
                                </div>
                            {% endif %}
                        {% empty %}
                            <p> No images available </p>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"></a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-1">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="food_name">
                                {{ item.name }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <a href="{% url 'chef:detail' item.chef.profile.slug %}">
                                {% if item.chef.profile.avatar %}
                                    <img class="avatar img-circle" src="{{ item.chef.profile.avatar.url }}"
                                         alt="avatar"/>
                                {% else %}
                                    <img class="avatar img-circle" src="{% static 'images/default-avatar.png' %}"
                                         alt="avatar"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <a href="{% url 'chef:detail' item.chef.profile.slug %}">
                                <div class="cook_name">{{ item.chef.profile.name }}</div>
                            </a>
                        </div>
                    </div>

                    <!--rating-->
                    <div class="row">
                        <div class="col-md-12 col-xs-12 rate">
                            {% for foo in rating %}
                                <label></label>
                            {% endfor %}
                        </div>
                    </div>

                    <!--price-->
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <p class="price margin_top_10">{{ item.price|intcomma }} VND</p>
                        </div>
                    </div>

                    <!--buy Button-->
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="{% url 'cart:add' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}"/>
                                <input type="hidden" name="quantity" value="1"/>
                                <input type="submit" class="btn_color small_btn" value="Đặt ngay"/>
                            </form>
                        </div>
                    </div>

                    <!--description/ingredient-->
                    <div class="row margin_top_10">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Mô Tả</a></li>
                                <li><a data-toggle="tab" href="#menu1">Thành phần</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <p class="margin_top_10 description">{{ item.description }}</p>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <ul class="margin_top_10">
                                        {% for ingredient in item.get_ingredient %}
                                            <li>{{ ingredient|capfirst }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Review area //-->
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-12 title">
                <h4>Đánh Giá Sản Phẩm</h4>
            </div>
        </div>
        <div class="row">
            {% for review in item.reviews.all|slice:":3" %}
                {% include "layout/review_snippet.html" with review=review %}
            {% empty %}
                <p>No reviews here yet :(</p>
            {% endfor %}
        </div>
        <div class="collapse" id="collapseReview">
            <div class="row">
                {% if item.reviews.count > 3 %}

                    {% for review in item.reviews.all|slice:"3:" %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="row">
                        {% endif %}
                    {% include "layout/review_snippet.html" with review=review %}
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                    {% endfor %}

                    <div class="row text-center" style="margin-top: 10px">
                        <button class="btn_color small_btn" type="button" data-toggle="collapse"
                                data-target="#collapseReview"
                                aria-expanded="false" aria-controls="collapseReview">
                            Xem thêm
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}