{% load static %}
{% load i18n %}

<div class="col-md-3">
    <div class="profile-sidebar card">

        <div class="profile-userpic">
            {% if user.profile.avatar %}
                <img class="img-responsive img-circle" src="{{ user.profile.avatar.url }}" alt="avatar"/>
            {% else %}
                <img class="img-responsive img-circle" src="{% static 'images/default-avatar.png' %}" alt="avatar"/>
            {% endif %}
        </div>

        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{ user.profile.name }}
            </div>
        </div>

        <div class="profile-usermenu">
            <ul class="nav">
                {% url 'profile' as profile_url %}
                {% url 'order:list' as order_url %}
                {% url 'reviews:index' as review_url %}
                {% url 'notification' as noti_url %}
                {% url 'account_change_password' as pwd_url %}
                {% url 'account_set_password' as pwd_set_url %}


                <li {% if request.get_full_path == profile_url %}class="active"{% endif %}>
                    <a href="{{ profile_url }}"> <i class="fa fa-home"></i> {% trans 'Overview' %}</a>
                </li>
                <li {% if request.get_full_path == order_url %}class="active"{% endif %}>
                    <a href="{{ order_url }}"> <i class="fa fa-history"></i> {% trans 'Order history' %}</a>
                </li>
                <li {% if request.get_full_path == review_url %}class="active"{% endif %}>
                    <a href="{{ review_url }}"><i class="fa fa-check"></i> {% trans 'Reviews' %}</a>
                </li>

                <li {% if request.get_full_path == noti_url %}class="active"{% endif %}>
                    <a href="{{ noti_url }}"><i class="fa fa-comment-o"></i> {% trans 'Notifications' %}</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-money"></i> {% trans 'Food Coin' %}</a>
                </li>
                <li {% if request.get_full_path == pwd_url or request.get_full_path == pwd_set_url %}class="active"{% endif %}>
                    <a href="{% url 'account_change_password' %}">
                        <i class="fa fa-cog"></i>
                        {% if user.has_usable_password %}
                            {% trans 'Change password' %}
                        {% else %}
                            {% trans 'Set password' %}
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>